
<head>
	<title> {{ page.title }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
    <!-- css for header and footer -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/HeaderFooter.css">
    <!-- media css for header and footer -->
	<link rel="stylesheet" media="screen and (max-width: 750px)" href="{{ site.baseurl }}/css/HeaderFooterMedia.css">
	<!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.svg">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <!-- scripts -->
    <script src="{{site.baseurl}}/scripts/hamburger.js"></script>
    <!-- custom css -->
    {% if page.custom_css %} 
        {% for stylesheet in page.custom_css %}
        <link rel = "stylesheet" href = "{{ site.baseurl }}/css/{{ stylesheet }}.css">
        {% endfor %}
    {% endif %}
</head>