<div id = "firstBlog" class = "blogContainerActual">
    <a href = "{{site.baseurl}}{{post.url}}" class = "imageHolder" {% if post.showThumbnail == false %} style = "display: none !important;" {% endif %}>
            <img src = "{{site.baseurl}}{{post.thumbnail}}"/>
    </a>
    <a href = "{{site.baseurl}}{{post.url}}" class = "textSection" {% if post.showThumbnail == false %} id = "noPictureBlogPost" {% endif %}>
        <h3>{{ post.title }}</h3>
        <h4>{{ post.date | date: "%B %-d, %Y"  }}</h4>
        <p>{{ post.content | strip_html | truncate: 250 }}</p>
    </a>
</div>